@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;600&family=Montserrat:wght@200;300;400;600&display=swap');

html {
  font-size: 10px;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  /****** DESKTOP ******/

body {
  /* background-color: #fcc; */
  margin: 0 auto;
  /* max-width: 1440px; */
}


/****** TABLETS ******/
@media only screen and (max-width: 768px) {

}

/****** MOBILES ******/
@media only screen and (max-width: 375px) {
  
}