@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;600&family=Montserrat:wght@200;300;400;600&display=swap');

html {
  scroll-behavior: smooth;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  /****** DESKTOP ******/

body {
  background-color: var(--color-white);
  margin: 0 auto;
}

h1 {
  color: var(--color-main-2);
  font-family: var(--font-1), var(--font-alt);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  font-style: var(--color-main-4);
  font-family: var(--font-2), var(--font-alt);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p, em {
  font-family : var(--font-2), var(--font-alt);
  font-size : 18px;
  font-style : normal;
  font-weight : 400;
  line-height : normal;
}

p {
  color : var(--color-main-3);
}

em {
  color: var(--color-main-2);
}

/****** TABLETS ******/
/* @media only screen and (max-width: 768px) {

} */

/****** MOBILES ******/
/* @media only screen and (max-width: 375px) {

} */