:root {
    /* COLORS */
    --color-main-1 : #1F2039;
    --color-main-2 : #A5B4FC;
    --color-main-3 : #F9F8FF;
    --color-main-4 : #242424;
  
    --color-white : #FFFFFF;
    --color-black : #000000;
  
    /* FONTS */
    --font-1 : Montserrat;
    --font-alt : sans-serif;
    --font-2 : Manrope;

  }

  