/****** DESKTOP ******/
.galery {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 72px 0;
  gap: 4px;
}

.galery h2 {
  color: var(--color-main-4);
  margin-bottom: 72px;
}

.galery div {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.galery img {
  max-width: 100%;
  height: auto;
}


/****** DESKTOP < 1000px ******/
@media only screen and (max-width: 1000px) {

}


/****** TABLETS ******/
/* @media only screen and (max-width: 768px) {

} */
  
/****** MOBILES ******/
/* @media only screen and (max-width: 375px) {
    
} */