/****** DESKTOP ******/

.hero {
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 72px;
  background: var(--color-main-1);
}
  
.h1-p-btn-img {
  display: flex;
  max-width: 1000px;
}

.h1-p-btn {
  display: flex;
  overflow: hidden;
  padding-right: 72px;
  flex-direction: column;
}

.hero h1 {
  margin-bottom: 16px;
}

.hero p {
  margin-bottom: 30px;
}

.hero div img {
  display: flex;
  justify-content: center;
  max-width: fit-content;
  width: 100%;
}
  
/****** DESKTOP < 1000px ******/
@media only screen and (max-width: 1000px) {
  .hero {
    padding: 48px 20px;
  }

  .h1-p-btn-img {
    max-width: none;
    justify-content: center;
    flex-wrap: wrap-reverse;
    row-gap: 20px;
  }

  .h1-p-btn {
    align-items: center;
    padding-right: 0;
  }

  .hero h1 {
    text-align: center;
    font-size: 32px;
  }

  .hero p {
    text-align: center;
  }
}

  /****** TABLETS ******/
/* @media only screen and (max-width: 768px) {

} */
  
  /****** MOBILES ******/
/* @media only screen and (max-width: 375px) {

} */